<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>My_portfolio</display-name>
	
	
	
	<servlet>
		<servlet-name>Adminauth</servlet-name>
		<display-name>Adminauth</display-name>
		<description></description>
		<servlet-class>com.controller.Adminauth</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<display-name>LogOut</display-name>
		<description></description>
		<servlet-class>com.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddEdu</servlet-name>
		<display-name>AddEdu</display-name>
		<description></description>
		<servlet-class>com.controller.AddEdu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendMessage</servlet-name>
		<display-name>SendMessage</display-name>
		<description></description>
		<servlet-class>com.controller.SendMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetProject</servlet-name>
		<display-name>GetProject</display-name>
		<description></description>
		<servlet-class>com.controller.GetProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProject</servlet-name>
		<display-name>DeleteProject</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateProject</servlet-name>
		<display-name>UpdateProject</display-name>
		<description></description>
		<servlet-class>com.controller.UpdateProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Adminauth</servlet-name>
		<url-pattern>/Adminauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEdu</servlet-name>
		<url-pattern>/AddEdu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/SendMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProject</servlet-name>
		<url-pattern>/GetProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProject</servlet-name>
		<url-pattern>/DeleteProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProject</servlet-name>
		<url-pattern>/UpdateProject</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
